<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href="libs/bootstrap-reboot.min.css">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="libs/bootstrap-grid.min.css">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block title %}
        {% if title %}
          <title>{{ title }}</title>
        {% else %}
          <title>Buynet</title>
        {% endif %}
    {% endblock title %}

</head>
<body>
<div class="wrapper">

{% block menu %}
<header class="header">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.jpg')}}" alt="logo">
    </div>
    {% if current_user.is_authenticated %}
    <div id="zatemnenie">
      <div id="okno">
          Вы хотите покинуть аккаунт ?<br>
        <a href="{{url_for('logout')}}" class="close">Да</a>
        <a href="{{url_for('home')}}" class="close">Нет</a>
      </div>
    </div>

    <ul class="main_menu">
        <li><a href="{{url_for('home')}}"><p>Главная</p></a></li>
        <li><a href="#"><p>Сообщения</p></a></li>
        <li><a href="{{url_for('account')}}"><p>Аккаунт</p></a></li>
        <li><a href="{{url_for('sell_product')}}"><p>Продать</p></a></li>
        <li><a href="#zatemnenie"><p>Выход</p></a></li>
    </ul>
    {% else %}
    <ul class="main_menu">
        <li><a href="{{url_for('home')}}"><p>Главная</p></a></li>
        <li><a href="{{url_for('register')}}"><p>Регистрация</p></a></li>
        <li><a href="{{url_for('authorization')}}"><p>Войти</p></a></li>
    </ul>
    {% endif %}

</header>
{% endblock menu %}


{% block content %}{% endblock content %}



{% block main_page %}

    <div class="content">



    </div>

{% endblock main_page %}



{% block footer %}

    <footer class="footer">Все права защищены<br>
        &#169; Лямин Илья 2022
    </footer>

{% endblock footer %}
</div>
</body>
</html>