{% extends 'layout.html' %}

{% block content %}
    <nav class="register">
        <h1>Buynet.com</h1>
        <div class="advertisement">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <h2>Регистрация</h2>
                <div class="row">
                    <div class="group">
                        <lable for=''>Имя</lable><br>{{ form.name_f(class="form-control") }}<br>
                        {% for error in form.name_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="group">
                        <lable for=''>Фамилия</lable><br>
                        {{ form.surname_f(class="form-control") }}<br>
                        {% for error in form.name_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="group">
                        <lable for=''>Возраст</lable><br>
                        {{ form.age_f(class="form-control") }}<br>
                        {% for error in form.age_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="group">
                        <lable for=''>Город</lable><br>
                        {{ form.town_f(class="form-control") }}<br>
                        {% for error in form.town_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="group">
                        <lable for=''>Почта</lable><br>
                        {{ form.email_f(class="form-control", type="email") }}<br>
                        {% for error in form.email_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="group"><lable for=''>Пароль</lable><br>
                        {{ form.password_f(class="form-control", type="password") }}<br>
                        {% for error in form.password_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    {{message}}
                </div>
                <div><center><button>Регистрация</button></center></div>
            </form>
        </div>
    </nav>
{% endblock content %}