{% extends 'layout.html'%}

{% block content %}
<div class="advertisement" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <h2>Публицация</h2>
                <div class="row">
                    <div class="group">
                        <lable for=''>Название</lable><br>{{ form.product_f(class="form-control") }}<br>
                        {% for error in form.product_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="group">
                        <lable for=''>Описание<small> (До 130 символов)</small></lable><br>
                        {{ form.about_f(class="form-control") }}<br>
                        {% for error in form.about_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="group">
                        <lable for=''>Прикрепите фото</lable><br>
                        {{ form.photo_f }}
                        {% for error in form.photo_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="group">
                        <lable for=''>Цена</lable><br>
                        {{ form.price_f(class="form-control") }}<br>
                        {% for error in form.price_f.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <p>{{message}}</p>
                </div>
                <div><center><button>Выставить</button></center></div>
            </form>
        </div>
    </nav>
{% endblock content %}